---
# Utility scripts installation

- name: Create cyberlab-help script
  ansible.builtin.copy:
    content: |
      #!/bin/bash
      echo '=== CyberLab AttackBox Help ==='
      echo ''
      echo 'Pre-installed Tools:'
      echo '  nmap          - Network mapper and port scanner'
      echo '  metasploit    - Exploitation framework (msfconsole)'
      echo '  wireshark     - Network protocol analyzer'
      echo '  sqlmap        - SQL injection tool'
      echo '  nikto         - Web server scanner'
      echo '  john          - Password cracker'
      echo '  hashcat       - Advanced password recovery'
      echo '  hydra         - Network login cracker'
      echo '  gobuster      - Directory/file bruteforcer'
      echo ''
      echo 'Installing Additional Tools:'
      echo '  sudo apt install <tool-name>'
      echo ''
      echo 'Popular additions:'
      echo '  sudo apt install burpsuite zaproxy aircrack-ng'
      echo '  sudo apt install crackmapexec ffuf wpscan'
      echo '  sudo apt install binwalk volatility3 autopsy'
      echo ''
      echo 'Useful Commands:'
      echo '  cyberlab-help       - Show this help'
      echo '  reset-attackbox     - Reset instance to clean state'
      echo '  ip a                - Show network interfaces'
      echo '  ss -tuln            - Show listening ports'
      echo ''
      echo 'Documentation:'
      echo '  {{ attackbox_user_home }}/Desktop/README.txt'
      echo ''
    dest: /usr/local/bin/cyberlab-help
    mode: "0755"
  tags:
    - scripts

- name: Create reset-attackbox script
  ansible.builtin.template:
    src: reset-attackbox.sh.j2
    dest: /usr/local/bin/reset-attackbox
    mode: "0755"
  tags:
    - scripts
